#ifndef SECRETS_H
#define SECRETS_H

// --- EXAMPLE FILE ---
// Copy this file to "secrets.h" (which is gitignored)
// and fill in your local credentials.

// ================= WIFI =================
#define WIFI_SSID             "PUT_YOUR_WIFI_SSID_HERE"
#define WIFI_PASS             "PUT_YOUR_WIFI_PASSWORD_HERE"

// ================= FIREBASE =================
#define FIREBASE_AUTH         "PUT_YOUR_FIREBASE_DB_SECRET_HERE" 
#define FIREBASE_USER_ID      "PUT_YOUR_TARGET_USER_PHONE_HERE"

#endif